<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">
    <title>Title</title>
</head>
<body>

<h1>Welcome to car rental system!</h1>

     <form method="post" action="/loginprocess">
        <div class="container">
        <label for="username"><b>Username:</b></label>
        <input type="text" name="username">

        <label for="password"><b>Password:</b></label>
        <input type="password" name="password">

        <button type="submit" value="Log in">Log in</button>
        </div>
     </form>


    <div class="container">
        <label><b>Don't have account?</b></label>
        <a href="/register"> <button>Register here!</button></a>
    </div>




</body>
</html>