<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="stylesheet" href="{{url_for('static',filename='css/modifyprofile.css')}}">
<head>
    <meta charset="UTF-8">
    <title>Modify Profile</title>
</head>
<body>

<h3><a href="loginprocess">Back to index</a></h3><br>
<h1><p>Hello  {{ loginuser }} <a href="{{url_for('logout')}}">Log out</a></p><br></h1>
<h2>Please modify your profile</h2><br>
    {% set customerid = customer["customerid"] %}
    {% set username = customer["username"] %}
    {% set password = customer["password"] %}
    {% set firstname = customer["firstname"] %}
    {% set lastname = customer["lastname"] %}
    {% set phone = customer["phone"] %}
    {% set email = customer["email"] %}
    {% set country = customer["country"] %}
    {% set city = customer["city"] %}
    {% set province = customer["province"] %}
    {% set postal = customer["postal"] %}


<div class="item_container">
    <form method="post" action="/modifyprofile">

        <table>
                <tr>
                    <td></td>
                    <th>Current entry</th>
                    <th>New entry</th>
                </tr>

            <input type="hidden" name="customerid" value={{customerid}}><br>

            <!-- Username -->
                <tr>
                    <th>Username</th>
                    <td>{{username}}</td>
                    <td>You can not change your username<input type="hidden" name="username" value={{username}}></td>
                </tr>
            <!-- Password -->
                <tr>
                    <th>Password</th>
                    <td>{{password}}</td>
                    <td><input type="password" name="password" value="" required minlength="6"></td>
                </tr>
            <!-- Firstname -->
                <tr>
                    <th>Firstname</th>
                    <td>{{firstname}}</td>
                    <td><input type="text" name="firstname" value="" required minlength="1"></td>
                </tr>
            <!-- Lasstname -->
                <tr>
                    <th>Lastname</th>
                    <td>{{lastname}}</td>
                    <td><input type="text" name="lastname" value="" required minlength="1"></td>
                </tr>
            <!-- Phone -->
                <tr>
                    <th>Phone</th>
                    <td>{{phone}}</td>
                    <td><input type="text" name="phone" value="" required minlength="1"></td>
                </tr>
            <!-- email -->
                <tr>
                    <th>Email</th>
                    <td>{{email}}</td>
                    <td><input type="email" name="email" value="" required minlength="1"></td>
                </tr>
            <!-- Country -->
                <tr>
                    <th>Country</th>
                    <td>{{country}}</td>
                    <td><input type="text" name="country" value="" required minlength="1"></td>
                </tr>
            <!-- City -->
                <tr>
                    <th>City</th>
                    <td>{{city}}</td>
                    <td><input type="text" name="city" value="" required minlength="1"></td>
                </tr>
            <!-- Province -->
                <tr>
                    <th>Province</th>
                    <td>{{province}}</td>
                    <td><input type="text" name="province" value="" required minlength="1"></td>
                </tr>
            <!-- Postal -->
                <tr>
                    <th>Postal</th>
                    <td>{{postal}}</td>
                    <td><input type="text" name="postal" value="" required minlength="1"></td>
                </tr>
            </table>
        <button>Save changes</button>
    </form>
</div>




</body>
</html>