<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/register.css')}}">
    <title>Register</title>
</head>
<body>
<div class="form-wrapper">
        <div class="header">
            Register
        </div>

        <form method="post" action="/addcustomer">
            <label>Username：<input type="text" name="username" value="" required
       minlength="1" maxlength="30" size="20"></label><br>
            <label>Password：<input type="password" name="password" value="" required
       minlength="6" maxlength="30" size="20"></label><br>
            <label>Firstname：<input type="text" name="firstname" value="" required
       minlength="1" maxlength="30" size="20"></label><br>
            <label>Lastname：<input type="text" name="lastname" value="" required
       minlength="1" maxlength="30" size="20"></label><br>
            <label>Phone：<input type="number" name="phone" value="" required
       minlength="1" maxlength="30" size="20"></label><br>
            <label>E-mail：<input type="text" name="email" value="" required
       minlength="1" maxlength="30" size="20"></label><br>
            <label>Country：<input type="text" name="country" value="" required
       minlength="1" maxlength="30" size="20"></label><br>
            <label>City：<input type="text" name="city" value="" required
       minlength="1" maxlength="30" size="20"></label><br>
            <label>Province：<input type="text" name="province" value="" required
       minlength="1" maxlength="30" size="20"></label><br>
            <label>postal：<input type="text" name="postal" value="" required
       minlength="1" maxlength="30" size="20"></label><br>
            <input type="submit" value="Register">
        </form>

</body>
</html>