@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  font-family: 'Roboto Mono', monospace;
  background-color: lightgrey;

}

h1{
  text-align: center;
}
h2{
  margin-left: 30px;
}
.container {
  padding: 16px;
  background-color: white;
}