<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/car_list.css')}}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/car_list.js')}}"></script>
    <title>Document</title>
</head>
<body>
    <a href="{{url_for('index')}}">Back to index</a> <br><br>
    <!-- Sprint 2: Filter form for cars -->
    <!-- Check if responses is an empty string -->
    <h1>Hello {{username}}. You are currently logged in as {{position}}. <a href="{{url_for('logout')}}">Log out</a></h1>
    <div class="func_div">
        {% if position != "Staff" %}
        <a href="{{ url_for('add_car_form')}}" ><button class="func_btn" id="add_btn">Add car</button></a>
        {% endif %}
        <a href="{{ url_for('filter_form')}}" > <button class="func_btn">Filter cars</button></a>
        <a href="{{ url_for('car_list')}}" > <button class="func_btn">Refresh car list</button></a> <br> <br>
    </div>
    <!-- Sprint 2: End of filter form -->
    {% for response in responses %}
        {% set carID = response["carid"] %}
        {% set entryDate = response["entrydate"] %}
        {% set kmDriven = response["kmdriven"] %}
        {% set releaseYear = response["releaseyear"] %}
        {% set condition = response["condi"] %}
        {% set brand = response["brand"] %}
        {% set type = response["style"] %}
        {% set state = response["state"] %}
        {% set priceday = response["priceday"] %}
        {% set priceKm = response["pricekm"] %}
        <div class="item_container">
            <table>
                <tr>
                    <th>ID</th>
                    <td>{{carID}}</td>
                    <th>Availability</th>
                    <td>{{state}}</td>
                    <!-- Edit button -->
                    <td rowspan="5" id="btn">
                        <form id="edit_form" action="{{ url_for('edit_car') }}" method="post">
                            <input type="hidden" name="EditID" value={{carID}}>
                            <button class="btn">Edit Car</button>
                        </form>
                    </td>
                    {% if position != "Staff" %}
                    <!-- Remove button -->
                    <td rowspan="5" id="btn">
                        <form id="delete_form" action="{{ url_for('delete_confirmation') }}" method="post">
                            <input type="hidden" name="DeleteID" value={{carID}}>
                            <input type="hidden" name="DeleteEntrydate" value={{entryDate}}>
                            <input type="hidden" name="DeleteKmdriven" value={{kmDriven}}>
                            <input type="hidden" name="DeleteReleaseyear" value={{releaseYear}}>
                            <input type="hidden" name="DeleteCondition" value={{condition}}>
                            <input type="hidden" name="DeletePricekm" value={{priceKm}}>
                            <input type="hidden" name="DeleteBrand" value={{brand}}>
                            <input type="hidden" name="DeleteType" value={{type}}>
                            <input type="hidden" name="DeleteState" value={{state}}>
                            <input type="hidden" name="DeletePriceday" value={{priceday}}>
                            <button class="btn" id="remove_btn">Remove</button>
                        </form>
                    </td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Brand</th>
                    <td>{{brand}}</td>
                    <th>Condition</th>
                    <td>{{condition}}</td>
                </tr>
                <tr>
                    <th>Car type</th>
                    <td>{{type}}</td>
                    <th>Km driven</th>
                    <td>{{kmDriven}}</td>
                </tr>
                <tr>
                    <th>Release year</th>
                    <td>{{releaseYear}}</td>
                    <th>Car entrydate</th>
                    <td>{{entryDate}}</td>
                </tr>
                <tr>
                    <th>Price per km</th>
                    <td>{{priceKm}}</td>
                    <th>Price per day</th>
                    <td>{{priceday}}</td>
                </tr>
                <input type="hidden" name = "id" value="{{id}}">
            </table>
        </div>

    {% endfor %}

</body>
</html>