<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filter_form</title>
    <script src="{{ url_for('static', filename='js/filter_form.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/filter_form.css')}}">
</head>
<body>
    <a href="{{url_for('car_list')}}">Back to car list</a> <br><br>
    <h1>Filter car list:</h1>
    <div class="item_container">
        <form action="{{url_for('filter_form')}}" method="POST">
            <table>
                <tr>
                    <td></td>
                    <th>Lower limit</th>
                    <th>Upper limit</th>
                </tr>
                <!-- Entry date -->
                <tr>
                    <th>Entry date</th>
                    <td><input type="date" id="EntryDateMin" name="EntryDateMin" max="{{today}}"></td>
                    <td><input type="date" id="EntryDateMax" name="EntryDateMax" max="{{today}}"></td>
                </tr>
                <!-- Km driven -->
                <tr>
                    <th>Km driven</th>
                    <td><input type="number" id="KmDrivenMin" name="KmDrivenMin" min="0" max = "300000"></td>
                    <td><input type="number" id="KmDrivenMax" name="KmDrivenMax" min="0" max = "300000"></td>
                </tr>
                <!-- Release year -->
                <tr>
                    <th>Release year</th>
                    <td><input type="number" id="ReleaseYearMin" name="ReleaseYearMin" min="1950" max = "{{today[0:4]}}"></td>
                    <td><input type="number" id="ReleaseYearMax" name="ReleaseYearMax" min="1950" max = "{{today[0:4]}}"></td>
                </tr>
                <!-- Condition -->
                <tr>
                    <th>Condition</th>
                    <td colspan="2">
                        <select name="CarCondition">
                            <option value="">None</option>
                            <option value="new">New</option>
                            <option value="slightly used">Slightly used</option>
                            <option value="used">Used</option>
                            <option value="old">Old</option>
                        </select>
                    </td>
                </tr>
                <!-- Brand -->
                <tr>
                    <th>Brand</th>
                    <td colspan="2">
                        <select name="Brand">
                            <option value="">None</option>
                            <option value="Toyota">Toyota</option>
                            <option value="Honda">Honda</option>
                            <option value="Mazda">Mazda</option>
                            <option value="Nissan">Nissan</option>
                            <option value="Subaru">Subaru</option>
                        </select>
                    </td>
                </tr>
                <!-- Type -->
                <tr>
                    <th>Type</th>
                    <td colspan="2">
                        <select name="Type">
                            <option value="">None</option>
                            <option value="Sedan">Sedan</option>
                            <option value="SUV">SUV</option>
                            <option value="Minivan">Minivan</option>
                            <option value="Crossover">Crossover</option>
                            <option value="Wagon">Wagon</option>
                        </select>
                    </td>
                </tr>
                <!-- Availability -->
                <tr>
                    <th>Availability</th>
                    <td colspan="2">
                        <select name="CarState">
                            <option value="">None</option>
                            <option value="True">True</option>
                            <option value="False">False</option>
                        </select>
                    </td>
                </tr>
                <!-- Price per km -->
                <tr>
                    <th>Price per Km</th>
                    <td><input type="number" id="PriceKmMin"name="PriceKmMin" min="0" max = "100"></td>
                    <td><input type="number" id="PriceKmMax" name="PriceKmMax" min="0" max = "100"></td>
                </tr>
                <!-- Price per day -->
                <tr>
                    <th>Price per day</th>
                    <td><input type="number" id="PriceDayMin"name="PriceDayMin" min="0" max = "100"></td>
                    <td><input type="number" id="PriceDayMax" name="PriceDayMax" min="0" max = "100"></td>
                </tr>
            </table>
            <button type="submit">Filter</button>
        </form>
    </div>
</body>
</html>