<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filter_form</title>
    <script src="{{ url_for('static', filename='js/filter_form.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/filter_form.css')}}">
</head>
<body>
    <h2>Filter the car list:</h2>
    <form action="{{url_for('filter_form')}}" method="POST">
        <label for="">Entry date: </label>
            <ul>
                <li><label for="">Upper limit:</label><input type="date" id="EntryDateMax" name="EntryDateMax" max="{{today}}"></li>
                <li><label for="">Lower limit:</label><input type="date" id="EntryDateMin" name="EntryDateMin" max="{{today}}"></li>
            </ul><br><br>
        <label for="">Km driven: </label>
            <ul>
                <li><label for="">Upper limit:</label><input type="number" id="KmDrivenMax" name="KmDrivenMax" min="0" max = "300000"> </li>
                <li><label for="">Lower limit:</label><input type="number" id="KmDrivenMin" name="KmDrivenMin" min="0" max = "300000"> </li>
            </ul><br><br>
        <label for="">Release year: </label>
            <ul>
                <li><label for="">Upper limit:</label><input type="number" id="ReleaseYearMax" name="ReleaseYearMax" min="1950" max = "{{today[0:4]}}"></li>
                <li><label for="">Lower limit:</label><input type="number" id="ReleaseYearMin" name="ReleaseYearMin" min="1950" max = "{{today[0:4]}}"></li>
            </ul><br><br>
        <label for="">Condition: </label>
        <select name="CarCondition">
            <option value="">None</option>
            <option value="new">New</option>
            <option value="slightly used">Slightly used</option>
            <option value="used">Used</option>
            <option value="old">Old</option>
        </select> <br><br>

        <label for="">Brand: </label>
        <select name="Brand">
            <option value="">None</option>
            <option value="Toyota">Toyota</option>
            <option value="Honda">Honda</option>
            <option value="Mazda">Mazda</option>
            <option value="Nissan">Nissan</option>
            <option value="Subaru">Subaru</option>
        </select> <br><br>

        <label for="Type">Type:</label> <br>
            <select name="Type">
                <option value="">None</option>
                <option value="Sedan">Sedan</option>
                <option value="SUV">SUV</option>
                <option value="Minivan">Minivan</option>
                <option value="Crossover">Crossover</option>
                <option value="Wagon">Wagon</option>
        </select> <br><br>

        <label for="CarState">Availability:</label> <br>
            <select name="CarState">
                <option value="">None</option>
                <option value="True">True</option>
                <option value="False">False</option>
        </select> <br><br>

        <label for="">Price per Km: </label>
        <ul>
            <li><label for="">Upper limit:</label><input type="number" id="PriceKmMax" name="PriceKmMax" min="0" max = "100"></li>
            <li><label for="">Lower limit:</label><input type="number" id="PriceKmMin"name="PriceKmMin" min="0" max = "100"></li>
        </ul>

        <label for="">Price per Day: </label>
        <ul>
            <li><label for="">Upper limit:</label><input type="number" id="PriceDayMax" name="PriceDayMax" min="0" max = "100"></li>
            <li><label for="">Lower limit:</label><input type="number" id="PriceDayMin"name="PriceDayMin" min="0" max = "100"></li>
        </ul>
        <input type="submit" value="Filter">
    </form>
</body>
</html>