<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage accounts </title>
</head>
<body>
    <a href="{{url_for('index')}}">Back to index</a> <br><br>
    {% for employee in employees %}
    <form action="{{url_for('manage_accounts')}}" method="POST">
        {% set id = employee['employeeid']  %}
        ID: {{employee['employeeid']}} -
        Name: {{employee['name']}} -
        Position: {{employee['position']}} -
        Email: {{employee['email']}}
        <input type="hidden" name = "id" value="{{id}}">
        <input type="submit" value="Activate">
    </form>
    {% endfor %}
</body>
</html>