@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
font-family: 'Roboto Mono', monospace;
background-color: lightgrey;
}

h1 {
    text-align: center;
}

* {
box-sizing: border-box;
}

.container {
    width: 400px;
    padding: 16px;
    background-color: white;
    margin: auto;
}

input[type=text], input[type=password], input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: medium;
    font-family: 'Roboto Mono', monospace;
}

input[type=text]:focus, input[type=password]:focus {
background-color: #ddd;
outline: none;
}

hr {
border: 1px solid #f1f1f1;
margin-bottom: 25px;
}

.registerbtn {
    background-color: #4c9baf;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-family: 'Roboto Mono', monospace;
    font-size: large;
    font-weight: 700;
}

.registerbtn:hover {
opacity: 1;
}

.signin {
background-color: #f1f1f1;
text-align: center;
}

